*{
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/loginbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	position: relative;
}
body:before{
	/*content: '';*/
	display: block;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle,transparent,gray);
	opacity: .5;
}

.checkBirth{
	width: 90%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border:2px solid #d6b166;
	background-color: rgba(0,0,0,.4);
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.checkBirth .logo{
	width: 120px;
	/*padding: 5%;*/
	margin: auto;
}
.checkBirth .logo img{
	width: 100%;
	vertical-align: top;
}
.checkBirth .txt{
	font-size: 20px;
	color:#fff;
	font-family: Microsoft JhengHe;
	/*padding: 5px;*/
	margin: 20px 0 0;
}

.checkBirth .date{
	/*height: 30vh;*/
	font-size: 0;
	margin: 10px 0;
}
.checkBirth .date p{
	font: 20px tahoma;
	width: 30px;
	color: #fff;
	padding: 15px 5px;
	display: inline-block;
}
.checkBirth .date div{
	/*margin: 30px 10px;*/
	display: inline-block;
}
.checkBirth .date div .selectList{
	width: 50%;
	border: solid 2px #d6b166;
    font: 24px tahoma;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000;
    /*text-align: center;*/
    /*很PI：㈩AO的selectx窨邮角宄*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.checkBirth .date div option{
	background-color: #000;
}

.checkBirth .btn{
	width: 70%;
	padding: 5px;
	box-sizing: border-box;
	margin: 5px auto;
	/*border-radius: 5px;*/
	background-color: transparent;
	border:3px solid #DFD1B6;
	cursor: pointer;
	position: relative;
}
.checkBirth .btn:before{
	content: '';
	display: block;
	width: 101%;
	height: 102%;
	background-color: #DFD1B6;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: -1;
	transition: .2s;
}
.checkBirth .btn p{
	font:24px Microsoft JhengHe;
	color: #7c1924;
}
.checkBirth .btn:hover:before{
	transform: scale(.95,.85);
}



.warn{
	position: fixed;
	bottom: 0;
}

@media screen and (max-width: 767px){
	.checkBirth .date div{
		display: block;
	}
	.checkBirth .date div .selectList{}
}
@media screen and (min-width: 768px){
	.checkBirth{
		max-width: 500px
		/*top: 40%;*/
	}
	.checkBirth .logo{
		width: 40%;
		/*padding: 5%;*/
		/*margin: auto;*/
	}
	.checkBirth p{
		padding: 10px;
	}

	.checkBirth .date{
		/*height: 30vh;*/
		width: 100%;
		margin: 20px 0;
	}
	.checkBirth .date div{
		/*margin: 30px 10px;*/
		width: 33.333333%;
		display: inline-block;
	}
	.checkBirth .date p{
		font: 20px tahoma;
		width: 25%;
		text-align: left;
		color: #fff;
		padding: 10% 5px;
		box-sizing: border-box;
		display: inline-block;
	}
	.checkBirth .date div .selectList{
		width: 75%;
	    /*font: 30px tahoma;*/
	    padding: 5px 20px;
	    box-sizing: border-box;
	    /*display: inline-block;*/
	}

	.checkBirth .btn{
		padding: 10px;
	}
	.checkBirth .btn p{
		font:34px Microsoft JhengHe;
	}
}